html, body { 
	width:100%;
 	height:100%;
 	margin:0;
 	padding:0;
 }
div {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#section_racer {
	width:100%;
	overflow:hidden;
	background: #000;
}
#racer_container {
	width:1280px;
	height:750px;
	position:relative;
	margin:0 auto;
	background-color:#000000;
    -webkit-transform-origin : 0% 0;
    -moz-transform-origin : 0% 0;
    -o-transform-origin : 0% 0;
    -ms-transform-origin : 0% 0;
	transform-origin : 0% 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

#cars_holder {
	position: absolute;
	top:-45px;
	left:-50px;
	z-index:3;
}

	.column {
		width:25px;
		float:left;
	}

.car_container {
	width:20px;
	height:12px;
	display: block;
	position:relative;
	float:left;
	margin-left:6px;
	margin-top:8px;
	background-size:20px 12px;
}

#start_line {
	width:20px;
	height:100px;
	position:absolute;
	z-index:2;
	left:0;
	display: block;
}
	#start_line img {
		width:20px;
		height:100px;
	}
#canvas {
	z-index:1;
	position: relative;
	background-color:#000000;
}

.play_wrapper {
	width:1280px;
	height:750px;
	position:absolute;
	display: table;
	z-index:100;
}

.play_holder {
	display: table-cell;
    vertical-align: middle;
    text-align:center;
}

#play_btn {
	margin:0 auto;
	width:70px;
	height:70px;
	background:url('/images/play_btn.png') no-repeat;
	cursor: pointer;
}

#FS_trigger {
	cursor: pointer;
}

/* CAR STYLES */

	/* == UK == */
	.car_1{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_UK.svg');
	}

	/* == GERMANY == */
	.car_2{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_GE.svg');
	}

	/* == NETHERLANDS == */
	.car_3{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_NE.svg');
	}
	/* == BELGIUM == */
	.car_4{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_BE.svg');
	}
	/* == NORWAY == */
	.car_5{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_NO.svg');
	}	
	/* == DENMARK == */
	.car_6{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_DE.svg');
	}
	/* == FINLAND == */
	.car_7{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_FI.svg');
	}
	/* == SWEDEN== */
	.car_8{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_SWE.svg');
	}
	/* == FRANCE == */
	.car_9{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_FR.svg');
	}
	/* == SPAIN == */
	.car_10{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_SP.svg');
	}
	/* == ITALY == */
	.car_11{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_IT.svg');
	}
	/* == SWITZERLAND == */
	.car_12{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_SWI.svg');
	}
	/* == LUXEMBOURG == */
	.car_13{
        transform: scale(1.2);
        transform-origin: center;
		background-image:url('/images/cars_LU.svg');
	}


/* MEDIA QUERIES */

@media all and (min-width:1024px) and (max-width: 1279px) {
	#racer_container {
		width:1024px;
		height:610px;
		-webkit-transform : scale(0.8);
	    -moz-transform : scale(0.8);
	    -o-transform : scale(0.8);
	    -ms-transform : scale(0.8);
	    transform : scale(0.8);
	}
}

@media all and (min-width:922px) and (max-width: 1023px) {
	#racer_container {
		width:922px;
		height:550px;
		-webkit-transform : scale(0.73);
	    -moz-transform : scale(0.73);
	    -o-transform : scale(0.73);
	    -ms-transform : scale(0.73);
	    transform : scale(0.73);
	}
}

@media all and (min-width:768px) and (max-width: 921px) {
	#racer_container {
		width:768px;
		height:450px;
		-webkit-transform : scale(0.6);
	    -moz-transform : scale(0.6);
	    -o-transform : scale(0.6);
	    -ms-transform : scale(0.6);
	    transform : scale(0.6);
	}
}


@media all and (max-width: 767px) {
	#racer_container,#FS_trigger {
		display:none;
	}
}