h1, h2, h3 {
	margin: 0;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 55px;
	color: #0A92D8;
	margin-top: 20px;
	margin-bottom: 5px;
}
h3 {
	font-size: 16px;
	color: #000;
}
ol li {
	color: #0A92D8;
	font-weight: bold;
}
ol li span {
	color: #666;
	font-weight: normal;
}
a {
	color: #0A92D8;
	font-weight: bold;
}
.black {
	background: #000;
}
.dark {
	background: #272A2D;
}

.grey {
    color: #cccccc;
}

.black, .dark, .black h1, .dark h1, .black h3, .dark h3 {
	color: #fff;
}
#nav ul li {
	text-align: center;
	padding: 26px 0 12px 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
#nav ul li a {
	font-weight: 400;
	color: #333;
	padding-top: 25px;
}
#nav ul li a:hover, #nav ul li.active a {
	text-decoration: none;
	border-top: 2px solid #0A92D8;
}
#year {
	border-bottom: 1px solid #333;
}


#st_month_selection li {
    text-align: center;
    padding: 12px 0 12px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    display: inline;
}
#st_month_selection a {
    color: #ccc;
    padding-top: 11px;
    text-transform: uppercase;
    font-weight: 400;
}
#st_month_selection li.active a, #st_month_selection a:hover {
    color: #0A92D8;
    border-top: 2px solid #0A92D8;
    text-decoration: none;
}




#month_selection li {
	text-align: center;
	padding: 12px 0 12px 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
    display: inline;
}
#month_selection a {
	color: #fff;
	padding-top: 11px;
	text-transform: uppercase;
	font-weight: 400;
}
#month_selection li.active a, #month_selection a:hover {
	color: #0A92D8;
	border-top: 2px solid #0A92D8;
	text-decoration: none;
}
#about {
	padding-bottom: 60px; 
}
#pie {
	height: 1000px;
}
#pie .year_selection {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 10px;
}
#pie .year_selection .active {
	border-top: 2px solid #0A92D8;
	text-align: center;
}
#pie .year_selection .container div {
		padding: 5px 0;
		margin-top: -2px;
}
#pie .outset {
	border-top: 1px solid #161719;
	border-bottom: 1px solid #3B4045;
	padding: 0;
}
#pie .inset {
	border-top: 1px solid #3B4045;
	border-bottom: 1px solid #161719;
}
#pie h3 {
	font-size: 14px;
}
#pie .pie_text {
	position: relative;
	color: #fff;
}
#pie .pie_text h1 {
	font-size: 60px;
	font-weight: 200;
	text-transform: uppercase;
}
#pie .pie_text h2 {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
}
#pie .pie_text h1.big {
	font-size: 120px;
}
sup {
	font-size: 50%;
}
.tooltip_table td {
    padding: 0 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.tooltip_table .top {
    color: #56C6FF;
    font-size: 35px;
    font-weight: 200;
}
.tooltip_table .bottom {
    color: #000;
    font-size: 16px;
}
#timer {
	border-top: 1px solid #333;
}
#timer h1 {
	margin-top: 0;
}
#timer h1 small {
	color: #fff;
	font-size: 16px;
	display: inline-block;
	width: 120px;
}
.row {
	color: #666;
}
#podiums {
	padding-bottom: 40px;
}
#podiums .podium {
	width: 200px;
	margin: 40px 0;
}
#podiums h3 {
	color: #C2C2C2;
	text-transform: uppercase;
}
#podiums .blue {
	background-color: #0A92D8;
	color: #fff;
	text-align: center;
}
#podiums .grey {
	background-color: #F2F2F2;
	padding: 5px 15px;
}
#podiums .grey p {
	background: #fff;
	font-size: 11px;
}
#podiums .grey p b {
	text-transform: uppercase;
}
#podiums .blue h1 {
	color: #fff;
	font-size: 24px;
}
#podiums .targets {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 200;
	text-transform: uppercase;
	padding: 5px 0;
}

#podiums .first_place {
    background:url('/images/ITALY_POD_01.png') no-repeat;
    width:  200px;
    height: 37px;
    background-color: #fff;
    background-size:100%
}

#podiums .italy_flag {
    background:url('/images/ITALY_POD_03.png') no-repeat;
    width:  200px;
    height: 69px;
    background-color: #fff;
    background-size:100%
}

#footer {
	border-top: 1px solid #999;
	padding-top: 20px;
}
#footer p {
	color: #777;
	font-size: 13px;
}
#footer a {
	color: #777;
	font-weight: normal;
	font-size: 13px;
	text-decoration: underline;
}
#footer a:hover {
	text-decoration: none;
}

.inputMessage {

    width: 100%;
}

#chatroom .messages {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}

.messages {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
}

.car_size {

    height: 24px;
    background-size:100%

}

.car_size_stats {

    height: 48px;
    background-size:100%

}

#race_results  {
    width:800px;
    background-color: white;
    color: #003bb3;
    font-weight: 400;
    text-align: left;
    z-index:2;
    font-size: 48px;
    float: none;
    margin: 0 auto;
}


#race_results th {
    font-size: 36px;
}
#race_results tr {
    font-size: 24px;
}

#race_results .ranking_head {
    text-align: center;
}

/* == UK == */
.car_1_mod{
    transform: scale(1.2);
    transform-origin: center;
    background-image:url('/images/cars_UK.svg');
    height: 300px;
    background-size:100%;
    display: block;
}

/* == GERMANY == */
.car_2_mod{
    transform: scale(1.2);
    transform-origin: center;
    background-image:url('/images/cars_GE.svg');
    height: 20px;
    background-size:100%;
}

